<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Films</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Release Date</th>
    <th>Duration</th>
    <th>Directors</th>
    <th>Average Rate</th>
    <th>Genre</th>
    <th>User Rates</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="film : ${films}">
    <td th:text="${film.id}"></td>
    <td th:text="${film.name}"></td>
    <td th:text="${film.description}"></td>
    <td th:text="${film.releaseDate}"></td>
    <td th:text="${film.duration}"></td>
    <td>
      <ul>
        <li th:each="director : ${film.directors}" th:text="${director.name}"></li>
      </ul>
    </td>
    <td th:text="${film.avgRate}"></td>
    <td>
      <ul>
        <li th:each="genre : ${film.genres}" th:text="${genre.name}"></li>
      </ul>
    </td>
    <td>
      <ul>
        <li th:each="entry : ${film.rates}" th:text="${entry.value} + ' by ' + ${entry.key}"></li>
      </ul>
    </td>
    <td>
      <form th:action="@{/films/delete}" method="post">
        <input type="hidden" th:name="id" th:value="${film.id}" />
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<br>
<a th:href="@{/films/add}">Add Film</a><br>
<a th:href="@{/directors/add}">Add Director</a> <br>
<a th:href="@{/films/add/director}">Add Director to Film</a> <br>
<a th:href="@{/films/popular}">Get popular Films</a> <br>
<a th:href="@{/films/search}">Search films</a><br>
<a th:href="@{/reviews/useful}">Get useful reviews for film</a><br>
<a th:href="@{/genres}">Genres</a><br>
<a th:href="@{/directors}">Directors</a><br>
<a th:href="@{/mpa}">Mpa-ratings</a><br>
<a th:href="@{/}">Home</a><br>
</body>
</html>
