<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Review Likes</title>
</head>
<body>
<h1>Review Likes</h1>

<!-- Form to like a review -->
<form th:action="@{/reviews/likes/add}" method="post">
    <div>
        <label for="reviewId">Select Review:</label>
        <select id="reviewId" name="reviewId" required>
            <option th:each="review : ${reviews}" th:value="${review.reviewId}" th:text="${review.content}"></option>
        </select>
    </div>
    <div>
        <label for="userId">Select User:</label>
        <select id="userId" name="userId" required>
            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
        </select>
    </div>
    <button type="submit">Like Review</button>
</form>

<!-- Form to dislike a review -->
<form th:action="@{/reviews/likes/delete}" method="post">
    <div>
        <label for="reviewId">Select Review:</label>
        <select id="review" name="reviewId" required>
            <option th:each="review : ${reviews}" th:value="${review.reviewId}" th:text="${review.content}"></option>
        </select>
    </div>
    <div>
        <label for="userId">Select User:</label>
        <select id="user" name="userId" required>
            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
        </select>
    </div>
    <button type="submit">Delete Like from Review</button>
</form>


</body>
</html>